# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse project files
.settings/
.project
.classpath

# IntelliJ project files
.idea/
*.iml
*.iws

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code workspace settings
.vscode/

# JAR files
*.jar

# Gradle build directory
build/
out/

# Maven build directory
target/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.tmp

# Ignore compiled code directories
bin/
target/
